

<h1>The Artist</h1>
<section>

{{#each artist}}
<div>
    <h2>
        {{name}}
    </h2>

    <h2>
        {{image}}
    </h2>

    <button><a href="/albums/the beatles"> View Albums</a></button>
</div>
{{/each}}

</section>